<h2>Nhap thong tin view index controller Demo</h2>
<form asp-action="Index">
    <input type="text" name="fName" placeholder="Full name">
    <input type="submit" value="Send">
</form>
<h3>@ViewBag.message</h3>